WCFLargeFileAPI/FileUploadClient/Service References/LargeFileAPI/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Interfaces" />
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileBytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Interfaces" minOccurs="0" name="UploadFileResult" nillable="true" type="q1:UploadFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileViaStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="fileStream" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileViaStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Interfaces" minOccurs="0" name="UploadFileViaStreamResult" nillable="true" type="q3:UploadFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>